#title {
	border: 5px solid black;
	margin: auto;
	padding-left: 20px;
}
#title .name {
	border: 2px solid black;
	margin: auto;
	margin-left: 5%;
	margin-right:80%;
	display: inline-block;
	text-align: auto;
}

.name h1 {
	padding-left: 20px;
	padding-right: 80px;
	display: flex;
}

.name img {
	padding-right: 20px;
	height: auto;
	width: 70px;
	display: flex;
}
